<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Edit(j11)</title>
</head>
<body>

	


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Student Management System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="addstudent">Add Student</a></li>
				<li class="nav-item active"><a class="nav-link" href="viewstudent">View Student</a></li>
			</ul>
		</div>
	</nav>



	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Details</h4>

						<form th:action="@{/update}" method="post" th:object="${s}">
							<input type="hidden" th:value="${s.id}" name="id">
							<div class="form-group">
								<label>Full Name</label> <input type="text"
									class="form-control" th:value = ${s.fname} name="fname">
							</div>

							<div class="form-group">
								<label>City</label> <input type="text" th:value = ${s.city}
									class="form-control" name="city">
							</div>

							<div class="form-group">
								<label>Email</label> <input type="email" th:value = ${s.email}
									class="form-control" name="email">
							</div>


							<div class="form-group">
								<label>Phone No</label> <input type="number" th:value = ${s.mnum}
									class="form-control" name="mnum">
							</div>


							<div class="form-group">
								<label for="course">Course</label> 
								<select id="course" name="course" th:value = ${s.course}>
                                <option value="Mba">MBA</option>
                                <option value="Mca">MCA</option>
                                <option value="Bca">BCA</option>
                                <option value="Bba">BBA</option>
                              </select>
							</div>

							<button class="btn btn-primary btn-block">Update</button>
						</form>
					</div>
				</div>

			</div>
		</div>

	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>
